#add-expense {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#add-expense .input-fields {
    display: flex;
}

#add-expense .input-fields input {
    max-width: 5rem;
}