#add-new-category {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    background: rgb(245, 245, 200);
    padding: 1rem;
    border-radius: 5px;
}

#add-new-category input {
    margin: 1rem;
}