#error {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#error .error-message {
    display: flex;
    flex-direction: column;
    text-align: center;
    background: rgba(24, 24, 24, 0.7);
    color: white;
    padding: 1rem;
    margin: 1rem;
    border-radius: 5px;
    
}